*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #232030;
}

main{
	padding: 2rem;
}
.container{
	position: relative;
	max-width: 100rem;
	margin: 0 5% 15% 5%;
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	gap: 2%;
	scrollbar-width: none;
}

.item{
	border-radius: 0.5rem;
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

img{
	border-radius: 0.5rem;
	width: 1600px;
	height: 40%;
}

h3{
	font-size: 2.5rem;
	color: aliceblue;
	margin-top: 1.5rem;
	font-weight: 200;

}

.slider {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	top: 800px;
	height: 2.5rem;
	
}

a{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	color: #ffffff;
}

hover:a{
	background-color: #3a7cc7;
	cursor: pointer;
}